[[
    #foreach( $buyers in $results )
        {
            #set( $control_coma = false )

            #if ( $buyers.qlegalname )
              #if ( $control_coma )
                ,
              #end
              "legalName" : "$buyers.qlegalname"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qstreet )
              #if ( $control_coma )
                ,
              #end
              "street" : "$buyers.qstreet"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qpostalcode )
              #if ( $control_coma )
                ,
              #end
              "postalCode" : "$buyers.qpostalcode"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qlocality )
              #if ( $control_coma )
                ,
              #end
              "localty" : "$buyers.qlocality"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qcountry )
              #if ( $control_coma )
                ,
              #end
              "country" : "$buyers.qcountry"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qname )
              #if ( $control_coma )
                ,
              #end
              "contactName" : "$buyers.qname"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qemail )
              #if ( $control_coma )
                ,
              #end
              "contactEmail" : "$buyers.qemail"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qtelephone )
              #if ( $control_coma )
                ,
              #end
              "contactTelephone" : "$buyers.qtelephone"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qurl )
              #if ( $control_coma )
                ,
              #end
              "contactURL" : "$buyers.qurl"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qfax )
              #if ( $control_coma )
                ,
              #end
              "contactFax" : "$buyers.qfax"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
