[
    #foreach( $contractingp in $results )
        {
            #set( $control_coma = false )

            #if ( $contractingp.pri )
              #set ( $index = $$contractingp.pri.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $$contractingp.pri.substring($index, $$contractingp.pri.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $contractingp.releasepublisheddate )
              #if ( $control_coma )
                ,
              #end
              "releasePublishedDate" : "$contractingp.releasepublisheddate"
              #set( $control_coma = true )
            #end

        }

         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
