[
    #foreach( $awards in $results )
        {
            "id" : "$awards.id",
            "title" : "$awards.tit",
            "description" : "$awards.des"
         }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
