[
    #foreach( $docs in $results )
        {
            #set( $control_coma = false )
            #if ( $docs.hdoc )
            #set ( $index = $docs.hdoc.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $id = $docs.hdoc.substring($index, $docs.hdoc.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$docs.hdoc"
              #set( $control_coma = true )
            #end

            #if ( $docs.qdocumenttype )
              #if ( $control_coma )
                ,
              #end
              "type" : "$docs.qdocumenttype"
              #set( $control_coma = true )
            #end

            #if ( $docs.qdocumentlanguage )
              #if ( $control_coma )
                ,
              #end
              "language" : "$docs.qdocumentlanguage"
              #set( $control_coma = true )
            #end

            #if ( $docs.qdocumenturl )
              #if ( $control_coma )
                ,
              #end
              "url" : "$docs.qdocumenturl"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
