[
    #foreach( $items in $results )
        {
            #set( $control_coma = false )

            #if ( $items.oid )
            #set ( $index = $items.oid.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $ident = $items.oid.substring($index, $items.oid.length()) )
              #if ( $control_coma )
                ,
              #end
              "tender id" : "$ident"
              #set( $control_coma = true )
            #end

            #if ( $items.tit )
              #if ( $control_coma )
                ,
              #end
              "title" : "$items.tit"
              #set( $control_coma = true )
            #end

            #if ( $items.itm )
              #set ( $index = $items.itm.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $ident = $items.itm.substring($index, $items.itm.length()) )
              #if ( $control_coma )
                ,
              #end
              "item id" : "$ident"
              #set( $control_coma = true )
            #end

            #if ( $items.lot )
              #if ( $control_coma )
                ,
              #end
              "is related to lot" : "$items.lot"
              #set( $control_coma = true )
            #end

            #if ( $items.cl1 )
              #if ( $control_coma )
                ,
              #end
              "classificaton" : "$items.cl1"
              #set( $control_coma = true )
            #end

            #if ( $items.clas )
              #if ( $control_coma )
                ,
              #end
              "item classificaton" : "$items.clas"
              #set( $control_coma = true )
            #end

            #if ( $items.class )
              #if ( $control_coma )
                ,
              #end
              "additional item classificaton" : "$items.class"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
