[
    #foreach( $items in $results )
        {
            #set( $control_coma = false )

            #if ( $items.itm )
              #set ( $index = $items.itm.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $ident = $items.itm.substring($index, $items.itm.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$ident"
              #set( $control_coma = true )
            #end

            #if ( $items.lot )
              #if ( $control_coma )
                ,
              #end
              "isRelatedToLot" : "$items.lot"
              #set( $control_coma = true )
            #end

            #if ( $items.cl1 )
              #if ( $control_coma )
                ,
              #end
              "classificaton" : "$items.cl1"
              #set( $control_coma = true )
            #end

            #if ( $items.clas )
              #if ( $control_coma )
                ,
              #end
              "additionalItemClassificaton" : "$items.clas"
              #set( $control_coma = true )
            #end

            #if ( $items.classch )
              #if ( $control_coma )
                ,
              #end
              "additionalItemClassificatonScheme" : "$items.classch"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
