[
    #foreach( $awards in $results )
        {
            #set( $control_coma = false )

            #if ( $awards.oid )
              #set ( $index = $awards.oid.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $awards.oid.substring($index, $awards.oid.length()) )
              #if ( $control_coma )
                ,
              #end
              "organisation id" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $awards.isf )
              #set ( $awin = $awards.isf.lastIndexOf("/") )
              #set ( $awin = $awin + 1 )
              #set ( $id = $awards.isf.substring($awin, $awards.isf.length()) )
              #if ( $control_coma )
                ,
              #end
              "award id" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $awards.tit )
              #if ( $control_coma )
                ,
              #end
              "title" : "$awards.tit"
              #set( $control_coma = true )
            #end

            #if ( $awards.des )
              #if ( $control_coma )
                ,
              #end
              "description" : "$awards.des"
              #set( $control_coma = true )
            #end

            #if ( $awards.dat )
              #if ( $control_coma )
                ,
              #end
              "date" : "$awards.dat"
              #set( $control_coma = true )
            #end

            #if ( $awards.stat )
              #if ( $control_coma )
                ,
              #end
              "status" : "$awards.stat"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
