[
    #foreach( $contractingp in $results )
        {
            #set( $control_coma = false )
            #set ( $index = $contractingp.qid.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $id = $contractingp.qid.substring($index, $contractingp.qid.length()) )
            #if ( $control_coma )
              ,
            #end
            "id" : "$id"
            #set( $control_coma = true )

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
