{
  #set ( $index = $cpid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $id = $cpid.substring($index, $cpid.length()) )
  #set( $control_coma = false )
  #if ( $id )
    #if ( $control_coma )
      ,
    #end
    "id" : "$id"
    #set( $control_coma = true )
  #end

    #if ( $hasdocid )
      #if ( $control_coma )
        ,
      #end
      "documentId" : "$hasdocid"
      #set( $control_coma = true )
    #end

    #if ( $hasdoctype )
      #if ( $control_coma )
        ,
      #end
      "documentType" : "$hasdoctype"
      #set( $control_coma = true )
    #end

      #if ( $hasdoclan )
        #if ( $control_coma )
          ,
        #end
        "documentLanguage" : "$hasdoclan"
        #set( $control_coma = true )
      #end

      #if ( $hasdocurl )
        #if ( $control_coma )
          ,
        #end
        "documentURL" : "$hasdocurl"
        #set( $control_coma = true )
      #end

}
