{
  #set ( $index = $oid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $id = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $id )
    #if ( $control_coma )
      ,
    #end
    "id" : "$id"
    #set( $control_coma = true )
  #end

  #if ( $releasepublisheddate )
    #if ( $control_coma )
      ,
    #end
    "releasePublishedDate" : "$releasepublisheddate"
    #set( $control_coma = true )
  #end

  #if ( $qprojectid )
    #if ( $control_coma )
      ,
    #end
    "projectId" : "$qprojectid"
    #set( $control_coma = true )
  #end

#* Prueba de doble anindado *#

  #if ( $hasdocid || $hasdoctype || $hasdoclan || $hasdocurl )
    #if ( $control_coma )
      ,
    #end
      "plan" : {
      #set( $control_sub = true )
      #set( $control_coma = false )
  #end

      #if ( $hasdocid || $hasdoctype || $hasdoclan || $hasdocurl )
        #if ( $control_coma )
          ,
        #end
          "document" : {
          #set( $control_sub2 = true )
          #set( $control_coma = false )
      #end

      #if ( $hasdocid )
        #if ( $control_coma )
          ,
        #end
        "id" : "$hasdocid"
        #set( $control_coma = true )
      #end

      #if ( $hasdoctype )
        #if ( $control_coma )
          ,
        #end
        "type" : "$hasdoctype"
        #set( $control_coma = true )
      #end

        #if ( $hasdoclan )
          #if ( $control_coma )
            ,
          #end
          "language" : "$hasdoclan"
          #set( $control_coma = true )
        #end

        #if ( $hasdocurl )
          #if ( $control_coma )
            ,
          #end
          "URL" : "$hasdocurl"
          #set( $control_coma = true )
        #end

        #if ( $control_sub2 )
          }
        #end
        #set( $control_sub2 = false )

#* In case there were more elements in plan (milestone or budget), should be included in the same way as document *#

      #if ( $control_sub )
        }
      #end
      #set( $control_sub = false )

}
