{
  #set ( $index = $cpid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $id = $cpid.substring($index, $cpid.length()) )
  #set( $control_coma = false )
  #if ( $id )
    #if ( $control_coma )
      ,
    #end
    "id" : "$id"
    #set( $control_coma = true )
  #end

  #if ( $contractstartdate )
    #if ( $control_coma )
      ,
    #end
    "contractStartDate" : "$contractstartdate"
    #set( $control_coma = true )
  #end

  #if ( $contractenddate )
    #if ( $control_coma )
      ,
    #end
    "contractEndDate" : "$contractenddate"
    #set( $control_coma = true )
  #end
#*
  #set ( $index = $hasaward.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $id = $hasaward.substring($index, $hasaward.length()) )
  #set( $control_coma = false )
  #if ( $id )
    #if ( $control_coma )
      ,
    #end
    "awardId" : "$id"
    #set( $control_coma = true )
  #end
*#
  #if ( $hasawardtit )
    #if ( $control_coma )
      ,
    #end
    "awardTitle" : "$hasawardtit"
    #set( $control_coma = true )
  #end

  #if ( $hasawarddes )
    #if ( $control_coma )
      ,
    #end
    "awardDescription" : "$hasawarddes"
    #set( $control_coma = true )
  #end

  #if ( $hasawarddat )
    #if ( $control_coma )
      ,
    #end
    "awardDate" : "$hasawarddat"
    #set( $control_coma = true )
  #end

  #if ( $hasawardstat )
    #if ( $control_coma )
      ,
    #end
    "awardStatus" : "$hasawardstat"
    #set( $control_coma = true )
  #end





  #*
    #set ( $index = $hastender.lastIndexOf("/") )
    #set ( $index = $index + 1 )
    #set ( $id = $hastender.substring($index, $hastender.length()) )
    #set( $control_coma = false )
    #if ( $id )
      #if ( $control_coma )
        ,
      #end
      "tenderId" : "$id"
      #set( $control_coma = true )
    #end
  *#
    #if ( $tendertitle )
      #if ( $control_coma )
        ,
      #end
      "tenderTitle" : "$tendertitle"
      #set( $control_coma = true )
    #end

    #if ( $tenderdescription )
      #if ( $control_coma )
        ,
      #end
      "tenderDescription" : "$tenderdescription"
      #set( $control_coma = true )
    #end

    #if ( $tenderstatus )
      #if ( $control_coma )
        ,
      #end
      "tenderStatus" : "$tenderstatus"
      #set( $control_coma = true )
    #end

    #if ( $hasdocid )
      #if ( $control_coma )
        ,
      #end
      "documentId" : "$hasdocid"
      #set( $control_coma = true )
    #end

    #if ( $hasdoctype )
      #if ( $control_coma )
        ,
      #end
      "documentType" : "$hasdoctype"
      #set( $control_coma = true )
    #end

      #if ( $hasdoclan )
        #if ( $control_coma )
          ,
        #end
        "documentLanguage" : "$hasdoclan"
        #set( $control_coma = true )
      #end

      #if ( $hasdocurl )
        #if ( $control_coma )
          ,
        #end
        "documentURL" : "$hasdocurl"
        #set( $control_coma = true )
      #end

}
