[
    #foreach( $organisation in $results )
        {
            "name" : "$organisation.n"
            "uri" : "$organisation.s"
         }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
