[
    #foreach( $organisations in $results )
        {
            #set( $control_coma = false )
            #if ( $organisations.s )
              #set ( $index = $organisations.s.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $organisations.s.substring($index, $organisations.s.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $organisations.ln )
              #if ( $control_coma )
                ,
              #end
              "legal name" : "$organisations.ln"
              #set( $control_coma = true )
            #end

            #if ( $organisations.hn )
              #if ( $control_coma )
                ,
              #end
              "name" : "$organisations.hn"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
