{
  #set ( $index = $oid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end
  #if ( $ln )
    #if ( $control_coma )
      ,
    #end
    "legal name" : "$ln"
    #set( $control_coma = true )
  #end
  #if ( $hn )
    #if ( $control_coma )
      ,
    #end
    "Name" : "$hn"
    #set( $control_coma = true )
  #end
  #if ( $sad )
    #if ( $control_coma )
      ,
    #end
    "street address" : "$sad"
    #set( $control_coma = true )
  #end
  #if ( $loc )
    #if ( $control_coma )
      ,
    #end
    "locality" : "$loc"
    #set( $control_coma = true )
  #end
  #if ( $cp )
    #if ( $control_coma )
      ,
    #end
    "postal code" : "$cp"
    #set( $control_coma = true )
  #end
  #if ( $adc )
    #if ( $control_coma )
      ,
    #end
    "county" : "$adc"
    #set( $control_coma = true )
  #end
  #if ( $reg )
    #if ( $control_coma )
      ,
    #end
    "region" : "$reg"
    #set( $control_coma = true )
  #end
  #if ( $eml )
    #if ( $control_coma )
      ,
    #end
    "email" : "$eml"
    #set( $control_coma = true )
  #end
  #if ( $url )
    #if ( $control_coma )
      ,
    #end
    "URL" : "$url"
    #set( $control_coma = true )
  #end
  #if ( $tel )
    #if ( $control_coma )
      ,
    #end
    "telephone" : "$tel"
    #set( $control_coma = true )
  #end
  #if ( $pco )
    #if ( $control_coma )
      ,
    #end
    "address locality" : "$adl"
    #set( $control_coma = true )
  #end
}
