{
  #set ( $index = $oid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end
  #if ( $ln )
    #if ( $control_coma )
      ,
    #end
    "name" : "$ln"
    #set( $control_coma = true )
  #end
  #if ( $hn )
    #if ( $control_coma )
      ,
    #end
    "name" : "$hn"
    #set( $control_coma = true )
  #end
  #if ( $sad )
    #if ( $control_coma )
      ,
    #end
    "streetAddress" : "$sad"
    #set( $control_coma = true )
  #end
  #if ( $cp )
    #if ( $control_coma )
      ,
    #end
    "postalCode" : "$cp"
    #set( $control_coma = true )
  #end
  #if ( $loc )
    #if ( $control_coma )
      ,
    #end
    "locality" : "$loc"
    #set( $control_coma = true )
  #end
  #if ( $adc )
    #if ( $control_coma )
      ,
    #end
    "country" : "$adc"
    #set( $control_coma = true )
  #end
  #if ( $cpn )
    #if ( $control_coma )
      ,
    #end
    "contact" : "$cpn"
    #set( $control_coma = true )
  #end
  #if ( $eml )
    #if ( $control_coma )
      ,
    #end
    "email" : "$eml"
    #set( $control_coma = true )
  #end
  #if ( $tel )
    #if ( $control_coma )
      ,
    #end
    "telephone" : "$tel"
    #set( $control_coma = true )
  #end
}
