{
  #set ( $index = $oid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end

  #if ( $qlegalname )
    #if ( $control_coma )
      ,
    #end
    "legalName" : "$qlegalname"
    #set( $control_coma = true )
  #end

  #if ( $qjurisdiction )
    #if ( $control_coma )
      ,
    #end
    "jurisdiction" : "$qjurisdiction"
    #set( $control_coma = true )
  #end

  #if ( $qfoundingdate )
    #if ( $control_coma )
      ,
    #end
    "foundingDate" : "$qfoundingdate"
    #set( $control_coma = true )
  #end

  #if ( $qdissolutiondate )
    #if ( $control_coma )
      ,
    #end
    "dissolutionDate" : "$qdissolutiondate"
    #set( $control_coma = true )
  #end

    #if ( $qnofemployees )
      #if ( $control_coma )
        ,
      #end
      "numberOfEmployees" : "$qnofemployees"
      #set( $control_coma = true )
    #end

    #if ( $qactivitytext )
      #if ( $control_coma )
        ,
      #end
      "activity" : "$qactivitytext"
      #set( $control_coma = true )
    #end

    #if ( $qidentifier )
      #if ( $control_coma )
        ,
      #end
      "qidentifier" : "$qidentifier"
      #set( $control_coma = true )
    #end

    #if ( $qstatustext )
      #if ( $control_coma )
        ,
      #end
      "status" : "$qstatustext"
      #set( $control_coma = true )
    #end

    #if ( $qtypetext )
      #if ( $control_coma )
        ,
      #end
      "type" : "$qtypetext"
      #set( $control_coma = true )
    #end


    #if ( $control_sub )
      }
    #end
    #set( $control_sub = false )


    #if ( $qfulladdress || $qpostcode || $qpostname || $qthoroughfare )
      #if ( $control_coma )
        ,
      #end
        "fullAddress" : {
        #set( $control_sub = true )
        #set( $control_coma = false )
    #end

    #if ( $qfulladdress )
      #if ( $control_coma )
        ,
      #end
      "address" : "$qfulladdress"
      #set( $control_coma = true )
    #end

    #if ( $qpostcode )
      #if ( $control_coma )
        ,
      #end
      "postCode" : "$qpostcode"
      #set( $control_coma = true )
    #end

    #if ( $qpostname )
      #if ( $control_coma )
        ,
      #end
      "postName" : "$qpostname"
      #set( $control_coma = true )
    #end

    #if ( $qthoroughfare )
      #if ( $control_coma )
        ,
      #end
      "thoroughfare" : "$qthoroughfare"
      #set( $control_coma = true )
    #end

    #if ( $control_sub )
      }
    #end
    #set( $control_sub = false )

}
