[
    #foreach( $contracts in $results )
        {
            "id" : "$contracts.id",
            "title" : "$contracts.tit",
            "description" : "$contracts.des"
         }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
