[
    #foreach( $contracts in $results )
        {
            #set( $control_coma = false )
            #if ( $contracts.s )
            #set ( $index = $contracts.s.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $id = $contracts.s.substring($index, $contracts.s.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id"
              #set( $control_coma = true )
            #end
            #if ( $contracts.stat )
              #if ( $control_coma )
                ,
              #end
              "status" : "$contracts.stat"
              #set( $control_coma = true )
            #end
            #if ( $contracts.dcs )
              #if ( $control_coma )
                ,
              #end
              "date contract signed" : "$contracts.dcs"
              #set( $control_coma = true )
            #end

            #if ( $contracts.impl )
            #set ( $index = $contracts.impl.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $impl = $contracts.impl.substring($index, $contracts.impl.length()) )
              #if ( $control_coma )
                ,
              #end
              "implementation" : "$impl"
              #set( $control_coma = true )
            #end

            #if ( $contracts.period )
            #set ( $index = $contracts.period.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $period = $contracts.period.substring($index, $contracts.period.length()) )
              #if ( $control_coma )
                ,
              #end
              "period" : "$period"
              #set( $control_coma = true )
            #end

            #if ( $contracts.val )
            #set ( $index = $contracts.val.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $val = $contracts.val.substring($index, $contracts.val.length()) )
              #if ( $control_coma )
                ,
              #end
              "value" : "$val"
              #set( $control_coma = true )
            #end

            #if ( $contracts.milestone )
            #set ( $index = $contracts.milestone.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $milestone = $contracts.milestone.substring($index, $contracts.milestone.length()) )
              #if ( $control_coma )
                ,
              #end
              "milestone" : "$milestone"
              #set( $control_coma = true )
            #end

            #if ( $contracts.item )
            #set ( $index = $contracts.item.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $item = $contracts.item.substring($index, $contracts.item.length()) )
              #if ( $control_coma )
                ,
              #end
              "item" : "$item"
              #set( $control_coma = true )
            #end

            #if ( $contracts.award )
            #set ( $index = $contracts.award.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $award = $contracts.award.substring($index, $contracts.award.length()) )
              #if ( $control_coma )
                ,
              #end
              "award" : "$award"
              #set( $control_coma = true )
            #end
        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
