[
  {
    "id": "ocds-213czf-000-00001-contract-01",
    "title": "Contract to build new cycle lanes in the center of town.",
    "description": "A contract has been signed between the Council and AnyCorp Ltd for construction of new cycle lanes in the center of town."
  }
]
