{
  #set ( $index = $oid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end

  #if ( $startdate )
    #if ( $control_coma )
      ,
    #end
    "startDate" : "$startdate"
    #set( $control_coma = true )
  #end

  #if ( $enddate )
    #if ( $control_coma )
      ,
    #end
    "endDate" : "$enddate"
    #set( $control_coma = true )
  #end

}
