{
  #set ( $index = $oid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end
  #if ( $stat )
    #if ( $control_coma )
      ,
    #end
    "status" : "$stat"
    #set( $control_coma = true )
  #end
  #if ( $dcs )
    #if ( $control_coma )
      ,
    #end
    "dateContractSigned" : "$dcs"
    #set( $control_coma = true )
  #end
  #if ( $val )
    #if ( $control_coma )
      ,
    #end
    "valueUri" : "$val"
    #set( $control_coma = true )
  #end
  #if ( $vala )
    #if ( $control_coma )
      ,
    #end
    "amount" : "$vala"
    #set( $control_coma = true )
  #end
  #if ( $valc )
    #if ( $control_coma )
      ,
    #end
    "currency" : "$valc"
    #set( $control_coma = true )
  #end

  #if ( $award )
  #set ( $index = $award.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $c_award = $award.substring($index, $award.length()) )
    #if ( $control_coma )
      ,
    #end
    "award" : "$c_award"
    #set( $control_coma = true )
  #end

  #if ( $hcp )
    #if ( $control_coma )
      ,
    #end
    "contractPeriodUri" : "$hcp"
    #set( $control_coma = true )
  #end

  #if ( $milestone )
    #if ( $control_coma )
      ,
    #end
    "milestoneUri" : "$milestone"
    #set( $control_coma = true )
  #end

  #if ( $impl )
    #if ( $control_coma )
      ,
    #end
    "implementationUri" : "$impl"
    #set( $control_coma = true )
  #end

  #if ( $item )
  #set ( $index = $item.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $item1 = $item.substring($index, $item.length()) )
    #if ( $control_coma )
      ,
    #end
    "item" : "$item1"
    #set( $control_coma = true )
  #end


}
