[
    #foreach( $tenders in $results )
        {
            #set( $control_coma = false )
            #if ( $tenders.id )
              #if ( $control_coma )
                ,
              #end
              "id" : "$tenders.id"
              #set( $control_coma = true )
            #end
            #if ( $tenders.tit )
              #if ( $control_coma )
                ,
              #end
              "title" : "$tenders.tit"
              #set( $control_coma = true )
            #end
            #if ( $tenders.des )
              #if ( $control_coma )
                ,
              #end
              "description" : "$tenders.des"
              #set( $control_coma = true )
            #end
        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
