[
  {
    "id": "ocds-213czf-000-00001-01-tender",
    "title": "Planned cycle lane improvements",
    "description": "Tenders solicited for work to build new cycle lanes in the center of town."
  },
  {
    "id": "ocds-213czf-000-00001-02-tender",
    "title": "New closing date",
    "description": "The closing date for tender submissions has been extended to 2017-04-08"
  }
]
