{
#set ( $index = $oid.lastIndexOf("/") )
#set ( $index = $index + 1 )
#set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end

  #if ( $qtitle )
    #if ( $control_coma )
      ,
    #end
    "title" : "$qtitle"
    #set( $control_coma = true )
  #end

  #if ( $qdescription )
    #if ( $control_coma )
      ,
    #end
    "description" : "$qdescription"
    #set( $control_coma = true )
  #end

  #if ( $qstatus )
    #if ( $control_coma )
      ,
    #end
    "status" : "$qstatus"
    #set( $control_coma = true )
  #end

  #if ( $qnumtenderers )
    #if ( $control_coma )
      ,
    #end
    "numberOfTenderers" : "$qnumtenderers"
    #set( $control_coma = true )
  #end

  #if ( $qprocurementmethod )
    #if ( $control_coma )
      ,
    #end
    "procurementMethod" : "$qprocurementmethod"
    #set( $control_coma = true )
  #end

  #if ( $qprocurementmethoddetails )
    #if ( $control_coma )
      ,
    #end
    "procurementMethodDetails" : "$qprocurementmethoddetails"
    #set( $control_coma = true )
  #end

  #if ( $qawardcriteria )
    #if ( $control_coma )
      ,
    #end
    "awardCriteria" : "$qawardcriteria"
    #set( $control_coma = true )
  #end

  #if ( $qawardcriteriadetails )
    #if ( $control_coma )
      ,
    #end
    "awardCriteriaDetails" : "$qawardcriteriadetails"
    #set( $control_coma = true )
  #end

  #if ( $qsubmissionmethod )
    #if ( $control_coma )
      ,
    #end
    "submissionMethod" : "$qsubmissionmethod"
    #set( $control_coma = true )
  #end

  #if ( $qsubmissionmethoddetails )
    #if ( $control_coma )
      ,
    #end
    "submissionMethodDetails" : "$qsubmissionmethoddetails"
    #set( $control_coma = true )
  #end

  #if ( $qenquiry )
    #if ( $control_coma )
      ,
    #end
    "enquiry" : "$qenquiry"
    #set( $control_coma = true )
  #end

  #if ( $qeligibilitycriteria )
    #if ( $control_coma )
      ,
    #end
    "eligibilityCriteria" : "$qeligibilitycriteria"
    #set( $control_coma = true )
  #end

  #if ( $qtenderperiodstartdate )
    #if ( $control_coma )
      ,
    #end
    "tenderPeriodStartDate" : "$qtenderperiodstartdate"
    #set( $control_coma = true )
  #end

  #if ( $qtenderperiodenddate )
    #if ( $control_coma )
      ,
    #end
    "tenderPeriodEndDate" : "$qtenderperiodenddate"
    #set( $control_coma = true )
  #end

  #if ( $qawardperiodstartdate )
    #if ( $control_coma )
      ,
    #end
    "awardPeriodStartDate" : "$qawardperiodstartdate"
    #set( $control_coma = true )
  #end

  #if ( $qawardperiodenddate )
    #if ( $control_coma )
      ,
    #end
    "awardPeriodEndDate" : "$qawardperiodenddate"
    #set( $control_coma = true )
  #end

  #if ( $qminvalueamount )
    #if ( $control_coma )
      ,
    #end
    "minEstimatedValueAmount" : "$qminvalueamount"
    #set( $control_coma = true )
  #end

  #if ( $qminvaluecurrency )
    #if ( $control_coma )
      ,
    #end
    "minEstimatedValueCurrency" : "$qminvaluecurrency"
    #set( $control_coma = true )
  #end

  #if ( $qmaxvalueamount )
    #if ( $control_coma )
      ,
    #end
    "maxEstimatedValueAmount" : "$qmaxvalueamount"
    #set( $control_coma = true )
  #end

  #if ( $qmaxvaluecurrency )
    #if ( $control_coma )
      ,
    #end
    "maxEstimatedValueCurrency" : "$qmaxvaluecurrency"
    #set( $control_coma = true )
  #end

  #if ( $qmiltitle )
    #if ( $control_coma )
      ,
    #end
    "milestoneTitle" : "$qmiltitle"
    #set( $control_coma = true )
  #end

  #if ( $qmildescription )
    #if ( $control_coma )
      ,
    #end
    "milestoneDescription" : "$qmildescription"
    #set( $control_coma = true )
  #end

  #if ( $qmilduedate )
    #if ( $control_coma )
      ,
    #end
    "milestoneDueDate" : "$qmilduedate"
    #set( $control_coma = true )
  #end

  #if ( $qmildocid )
    #if ( $control_coma )
      ,
    #end
    "milestoneDocumentId" : "$qmildocid"
    #set( $control_coma = true )
  #end

  #if ( $qmildoctype )
    #if ( $control_coma )
      ,
    #end
    "milestoneDocumentType" : "$qmildoctype"
    #set( $control_coma = true )
  #end

  #if ( $qmildoclanguage )
    #if ( $control_coma )
      ,
    #end
    "milestoneDocumentLanguage" : "$qmildoclanguage"
    #set( $control_coma = true )
  #end

  #if ( $qmildocurl )
    #if ( $control_coma )
      ,
    #end
    "milestoneDocumentURL" : "$qmildocurl"
    #set( $control_coma = true )
  #end

  }
