{
#set ( $index = $oid.lastIndexOf("/") )
#set ( $index = $index + 1 )
#set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end

  #if ( $des )
    #if ( $control_coma )
      ,
    #end
    #set ( $dfinal = $des.replaceAll( "[^a-zA-Z0-9 ]" , "" )  )
    "description" : "$dfinal"
    #set( $control_coma = true )
  #end

  #if ( $stat )
    #if ( $control_coma )
      ,
    #end
    "status" : "$stat"
    #set( $control_coma = true )
  #end

  #if ( $minval )
    #if ( $control_coma )
      ,
    #end
    "minEstimatedValue" : "$minval"
    #set( $control_coma = true )
  #end

  #if ( $maxval )
    #if ( $control_coma )
      ,
    #end
    "maxEstimatedValue" : "$maxval"
    #set( $control_coma = true )
  #end

}
