[
    #foreach( $contractingp in $results )
        {
            #set( $control_coma = false )
            #if ( $contractingp.contract )
              "contract" : "$contract"
              #set( $control_coma = true )
            #end
            #if ( $contractingp.impl )
              #if ( $control_coma )
                ,
              #end
              "implementation" : "$contractingp.impl"
              #set( $control_coma = true )
            #end
        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
