[
    #foreach( $contractingp in $results )
        {
            #set( $control_coma = false )
            #if ( $contractingp.s )
              #set ( $index = $contractingp.s.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $contractingp.s.substring($index, $contractingp.s.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id"
              #set( $control_coma = true )
            #end
            #if ( $contractingp.funded )
              #if ( $control_coma )
                ,
              #end
              "is funded by" : "$contractingp.funded"
              #set( $control_coma = true )
            #end
        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
