[

    #foreach( $award in $results )
        {
            #set( $control_coma = false )

            #if ( $award.hasaw )
              #set ( $indexd = $award.hasaw.lastIndexOf("/") )
              #set ( $indexd = $indexd + 1 )
              #set ( $id1 = $award.hasaw.substring($indexd, $award.hasaw.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id1"
              #set( $control_coma = true )
            #end

            #if ( $award.qtitle )
              #if ( $control_coma )
                ,
              #end
              "title" : "$award.qtitle"
              #set( $control_coma = true )
            #end

            #if ( $award.qdescription )
              #if ( $control_coma )
                ,
              #end
              "description" : "$award.qdescription"
              #set( $control_coma = true )
            #end

            #if ( $award.qdate )
              #if ( $control_coma )
                ,
              #end
              "date" : "$award.qdate"
              #set( $control_coma = true )
            #end

            #if ( $award.qstatus )
              #if ( $control_coma )
                ,
              #end
              "status" : "$award.qstatus"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
