[
    #foreach( $awards in $results )
        {
            #set( $control_coma = false )
            #if ( $awards.id )
              #if ( $control_coma )
                ,
              #end
              "id" : "$awards.id"
              #set( $control_coma = true )
            #end
            #if ( $awards.tit )
              #if ( $control_coma )
                ,
              #end
              "id" : "$awards.tit"
              #set( $control_coma = true )
            #end
            #if ( $awards.des )
              #if ( $control_coma )
                ,
              #end
              "id" : "$awards.des"
              #set( $control_coma = true )
            #end
        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
