{
  #set ( $index = $oid.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )

  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end

  #if ( $tit )
    #if ( $control_coma )
      ,
    #end
    "title" : "$tit"
    #set( $control_coma = true )
  #end

  #if ( $des )
    #if ( $control_coma )
      ,
    #end
    "description" : "$des"
    #set( $control_coma = true )
  #end

  #if ( $dat )
    #if ( $control_coma )
      ,
    #end
    "date" : "$dat"
    #set( $control_coma = true )
  #end

  #if ( $stat )
    #if ( $control_coma )
      ,
    #end
    "status" : "$stat"
    #set( $control_coma = true )
  #end

  #if ( $valr )
    #if ( $control_coma )
      ,
    #end
    "value uri" : "$valr"
    #set( $control_coma = true )
  #end

  #if ( $val )
    #if ( $control_coma )
      ,
    #end
    "value" : "$val"
    #set( $control_coma = true )
  #end

  #if ( $cur )
    #if ( $control_coma )
      ,
    #end
    "currency" : "$cur"
    #set( $control_coma = true )
  #end

  #if ( $doc )
  #set ( $index = $doc.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $doc = $doc.substring($index, $doc.length()) )
    #if ( $control_coma )
      ,
    #end
    "document" : "$doc"
    #set( $control_coma = true )
  #end

  #if ( $awardper )
    #if ( $control_coma )
      ,
    #end
    "award period uri" : "$awardper"
    #set( $control_coma = true )
  #end

  #if ( $contractper )
    #if ( $control_coma )
      ,
    #end
    "contract period uri" : "$contractper"
    #set( $control_coma = true )
  #end

  #if ( $cperiod )
  #set ( $index = $cperiod.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $cperiod1 = $cperiod.substring($index, $cperiod.length()) )
    #if ( $control_coma )
      ,
    #end
    "contract period" : "$cperiod1"
    #set( $control_coma = true )
  #end

  #if ( $item )
  #set ( $index = $item.lastIndexOf("/") )
  #set ( $index = $index + 1 )
  #set ( $item1 = $item.substring($index, $item.length()) )
    #if ( $control_coma )
      ,
    #end
    "item" : "$item1"
    #set( $control_coma = true )
  #end


  }
