{
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end
  #if ( $astat )
    #if ( $control_coma )
      ,
    #end
    "status" : "$astat"
    #set( $control_coma = true )
  #end
}
