{
  #set( $control_coma = false )
  #if ( $m_uri )
    #if ( $control_coma )
      ,
    #end
    "id" : "$m_uri"
    #set( $control_coma = true )
  #end
  #if ( $des )
    #if ( $control_coma )
      ,
    #end
    "description" : "$des"
    #set( $control_coma = true )
  #end
}
