[

    #foreach( $tender in $results )
        {
            #set( $control_coma = false )

            #if ( $tender.hasten )
              #set ( $indexd = $tender.hasten.lastIndexOf("/") )
              #set ( $indexd = $indexd + 1 )
              #set ( $id1 = $tender.hasten.substring($indexd, $tender.hasten.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id1"
              #set( $control_coma = true )
            #end

            #if ( $tender.tit )
              #if ( $control_coma )
                ,
              #end
              "title" : "$tender.tit"
              #set( $control_coma = true )
            #end

            #if ( $tender.des )
              #if ( $control_coma )
                ,
              #end
              "description" : "$tender.des"
              #set( $control_coma = true )
            #end

            #if ( $tender.stat )
              #if ( $control_coma )
                ,
              #end
              "status" : "$tender.stat"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
