[
    #foreach( $amendments in $results )
    {
        #set( $control_coma = false )

        #if ( $docs.qid )
          #if ( $control_coma )
            ,
          #end
          "id" : "$docs.qid"
          #set( $control_coma = true )
        #end

        #if ( $docs.qdescription )
          #if ( $control_coma )
            ,
          #end
          "id" : "$docs.qdescription"
          #set( $control_coma = true )
        #end

        #if ( $docs.qdate )
          #if ( $control_coma )
            ,
          #end
          "id" : "$docs.qdate"
          #set( $control_coma = true )
        #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
