[
    #foreach( $contracts in $results )
        {
            #set( $control_coma = false )

            #if ( $contracts.hascont )
            #set ( $index = $contracts.hascont.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $cn1 = $contracts.hascont.substring($index, $contracts.hascont.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$cn1"
              #set( $control_coma = true )
            #end

            #if ( $contracts.startdate )
              #if ( $control_coma )
                ,
              #end
              "startDate" : "$contracts.startdate"
              #set( $control_coma = true )
            #end

            #if ( $contracts.enddate )
              #if ( $control_coma )
                ,
              #end
              "endDate" : "$contracts.enddate"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
