[
    #foreach( $buyers in $results )
        {
            #set( $control_coma = false )

            #if ( $buyers.sas )
              #set ( $index = $buyers.sas.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $buyers.sas.substring($index, $buyers.sas.length()) )

              #if ( $control_coma )
                ,
              #end
              "id" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $buyers.s )
              #if ( $control_coma )
                ,
              #end
              "uri" : "$buyers.s"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qname )
              #if ( $control_coma )
                ,
              #end
              "legalName" : "$buyers.qname"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qjurisdiction )
              #if ( $control_coma )
                ,
              #end
              "jursidiction" : "$buyers.qjurisdiction"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
