[
    #foreach( $buyers in $results )
        {

            #set( $control_coma = false )

            #if ( $buyers.s )
              #set ( $index = $buyers.s.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $buyers.s.substring($index, $buyers.s.length()) )

              #if ( $control_coma )
                ,
              #end
              "id" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $buyers.sas )
              #set ( $index = $buyers.sas.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $buyers.sas.substring($index, $buyers.sas.length()) )

              #if ( $control_coma )
                ,
              #end
              "organisation" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qlegalname )
              #if ( $control_coma )
                ,
              #end
              "legalName" : "$buyers.qlegalname"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qjurisdiction )
              #if ( $control_coma )
                ,
              #end
              "jurisdiction" : "$buyers.qjurisdiction"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qstreet || $buyers.qpostalcode || $buyers.qlocality || $buyers.qcountry )
              #if ( $control_coma )
                ,
              #end
                "address" : {
                #set( $control_sub = true )
                #set( $control_coma = false )
            #end

            #if ( $buyers.qstreet )
              #if ( $control_coma )
                ,
              #end
              "street" : "$buyers.qstreet"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qpostalcode )
              #if ( $control_coma )
                ,
              #end
              "postalCode" : "$buyers.qpostalcode"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qlocality )
              #if ( $control_coma )
                ,
              #end
              "locality" : "$buyers.qlocality"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qcountry )
              #if ( $control_coma )
                ,
              #end
              "country" : "$buyers.qcountry"
              #set( $control_coma = true )
            #end

            #if ( $control_sub )
              }
            #end
            #set( $control_sub = false )

            #if ( $buyers.qname || $buyers.qemail || $buyers.qtelephone || $buyers.qurl || $buyers.qfax )
              #if ( $control_coma )
                ,
              #end
                "contactPoint" : {
                #set( $control_sub = true )
                #set( $control_coma = false )
            #end

            #if ( $buyers.qname )
              #if ( $control_coma )
                ,
              #end
              "name" : "$buyers.qname"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qemail )
              #if ( $control_coma )
                ,
              #end
              "email" : "$buyers.qemail"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qtelephone )
              #if ( $control_coma )
                ,
              #end
              "telephone" : "$buyers.qtelephone"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qurl )
              #if ( $control_coma )
                ,
              #end
              "URL" : "$buyers.qurl"
              #set( $control_coma = true )
            #end

            #if ( $buyers.qfax )
              #if ( $control_coma )
                ,
              #end
              "fax" : "$buyers.qfax"
              #set( $control_coma = true )
            #end

            #if ( $control_sub )
              }
            #end
            #set( $control_sub = false )

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
