[
    #foreach( $contracts in $results )
        {
            #set( $control_coma = false )

            #if ( $contracts.hcn )
            #set ( $index = $contracts.hcn.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $cn1 = $contracts.hcn.substring($index, $contracts.hcn.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$cn1"
              #set( $control_coma = true )
            #end

            #if ( $ontracts.cst )
              #if ( $control_coma )
                ,
              #end
              "status" : "$contracts.cst"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
