[

    #foreach( $organisation in $results )
        {
            #set( $control_coma = false )

            #if ( $organisation.s )
              #set ( $indexd = $organisation.s.lastIndexOf("/") )
              #set ( $indexd = $indexd + 1 )
              #set ( $id1 = $organisation.s.substring($indexd, $organisation.s.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id1"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
