[
    #foreach( $suppliers in $results )
        {
            #set( $control_coma = false )

            #if ( $suppliers.ss )
            #set ( $index = $suppliers.ss.lastIndexOf("/") )
            #set ( $index = $index + 1 )
            #set ( $org = $suppliers.ss.substring($index, $suppliers.ss.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$org"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
